<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>
    <main>
        <br>
        <h1>Disney le da la bienvenida</h1>
        <br>
        <h2>¿Qué está buscando?</h2>
        <br>
        <form action="/characters" method="get">
            <label for="">Token:</label>
            <p><input type="text" name="accesToken" class="" id="" required></p>
            <input type="submit" value="Actores">  
        </form>
        <form action="/movies" method="get">
            <label for="">Token:</label>
            <p><input type="text" name="accesToken" class="" id="" required></p>
            <input type="submit" value="Películas">  
        </form>
        
    </main>
        <br>
    <%- include("./partials/footer") %>
</body>
</html>